section{
	width: 100%;
	min-height: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: 'Dosis', sans-serif;
}

nav{
	  font-family: 'Dosis', sans-serif;
	  box-shadow: 0px 10px 0px 2px #EEE
}

.navbar-nav > *{
	font-size: 20px;
}

.navbar-nav {
	float: right;

}

.navbar-default {
  opacity: 0;
  transition: opacity .5s;
}

.opaque {
  opacity: 1;
  transition: opacity .5s;
}


#intro{
	background-image: url(../images/intro.jpg);
	position: relative;
}

@media (min-width: 768px) {
	#intro{
		background-size: 324%;
    	background-position-x: 60%;
    	padding-top: 300px;
	}
}
@media (min-width: 992px){
	#intro{
		background-size: 100%;
		padding-top: 20px;
	}
}
body{
	height: 100%;
}

html{
	height: 100%;
	font-family:
}

.slogan{
	color: #FFF;
    text-shadow: 2px 0 2px #000;
    padding-top: 13%;
}
.slogan h4{
	font-size: 24px;
	text-align: center;
}

#about >.container{
	padding-top: 40px;
}

.about-header{
	height: 90px;
	background-color: #AB0520;
	width: 100%;
}

.about-header h2{
	color: #FFF;
	margin: 0;
}


#connect {
	background: #AB0520;
}
#connedt .container {
		padding-top: 7%;

}

section h2{
	font-size: 60px;
	text-align: center;
}

section h3{
	padding-top: 20px;
}




.col-header{
	text-align: center;
}

.center-block{
	display: table;
	margin: 0 auto;
}

.aboutcontent{
	text-align: center;
    font-weight: 300;
    font-size: 15.5px;
    line-height: 1.25em;
    margin: auto;
    padding-bottom: 30px;
}

#profilePicture{
	border-radius: 100%;

}


#connectLinks{
	padding: 80px 10%;
}

#connectLinks .row {
	margin: 0 10%;
}


.connect-link{
	padding: 0 50px 10px 10px;
    display: block;
    color:	white;
    height: 100px;
}

.connect-link:hover{
	color: #FFF;
	text-shadow: 2px 4px 4px #000;
}

.connect-link-container:hover{
}


/* 5 Column layout for contact media links*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 10%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

/* line divider */
div.hr {
	background: #fff  no-repeat scroll center;
	margin: 0 auto;
	max-width:55%;
	min-width:45em;
	height:2px;
}

div.hr hr {
	display: none;
}

